.card-card {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #292929;
}
.card-content {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.card-header {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
}
.card-description {
  color: #C2C6CC;
  font-family: Poppins;
  line-height: 28px;
}



















.outline-black-button2-container {
  display: flex;
  position: relative;
}
.outline-black-button2-button {
  color: var(--dl-color-secondary-700);
  cursor: pointer;
  outline: none;
  min-width: 150px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-triplequarterunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.outline-black-button2-button:hover {
  transform: scale(1.02);
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-navbar-container {
  width: 100%;
  height: 85px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.59);
}
.home-navbar {
  width: 100%;
  height: 89px;
  display: flex;
  opacity: 1;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  backdrop-filter: 10px;
  justify-content: space-between;
  background-color: rgba(99, 99, 99, 0);
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-navbar-interactive {
  width: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  backdrop-filter: blur(80px);
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-icon02 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon06 {
  width: 16px;
  height: 16px;
}
.home-icon08 {
  width: 16px;
  height: 16px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link1 {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link3 {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link4 {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container01 {
  width: 100%;
  height: 538px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://th.bing.com/th/id/R.b1aa00d50578a92af38e3d7a282fe604?rik=w%2f0ZhFx7fd%2bNbw&pid=ImgRaw&r=0');
}
.home-container02 {
  width: 100%;
  height: 538px;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(50px);
  justify-content: center;
}
.home-hero {
  width: 100%;
  height: 896px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 45%;
  display: flex;
  margin-top: 173px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  padding-left: 43px;
  flex-direction: column;
}
.home-heading {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container03 {
  width: 100%;
  height: 645px;
  display: flex;
  transition: opacity 2s linear;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-section {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 745px;
  display: flex;
  align-items: center;
  padding-top: 43px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 88px;
  justify-content: center;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-section1 {
  color: var(--dl-color-gray-black);
}
.home-heading1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: arial;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-right {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-cards {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-section2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 424px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  border-top-width: 1px;
}
.home-header1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading2 {
  color: #ffffff;
}
.home-right1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-cards1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #292929;
}
.home-header2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-description {
  font-size: 20px;
  line-height: 30px;
}
.home-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link5 {
  display: contents;
}
.home-get-started {
  display: flex;
  text-decoration: none;
  background-color: #d6d6d6;
}
.home-text07 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  z-index: 50;
  max-width: 1200px;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #292929;
}
.home-header3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-description1 {
  font-size: 20px;
  line-height: 30px;
}
.home-buttons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link6 {
  display: contents;
}
.home-get-started1 {
  display: flex;
  text-decoration: none;
  background-color: #80FF44;
}
.home-text08 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.home-container04 {
  width: 100%;
  height: 622px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-features {
  width: 100%;
  height: 525px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 53px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-heading-container {
  width: 45%;
  height: 127px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text09 {
  color: var(--dl-color-gray-black);
  width: 324px;
  font-size: 55px;
  align-self: center;
  margin-top: 50px;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container06 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/minecraft-villager-1500w.gif");
  background-position: center;
}
.home-container06:hover {
  transform: scale(1.04);
}
.home-container07 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.home-container08 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text10 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: https://wallpapercave.com/wp/wp2737387.jpg;
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-card {
  width: 100%;
  height: 187px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
}
.home-container09 {
  display: flex;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
.home-text16 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text17 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container10 {
  display: flex;
  position: relative;
}
.home-button {
  color: var(--dl-color-blue-500);
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: transparent;
}
.home-text18 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-halfunit);
}
.home-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-container11 {
  top: auto;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: blur(30px);
  text-decoration: none;
  background-color: rgba(0,0,0,.4);
}
.home-card1 {
  width: 100%;
  height: 187px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://media.tenor.com/Cj6lhIOKJ7MAAAAd/villager-minecraft.gif');
}
.home-container12 {
  display: flex;
  z-index: 2;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.home-text19 {
  color: var(--dl-color-gray-white);
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
}
.home-text20 {
  color: var(--dl-color-gray-white);
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container13 {
  display: flex;
  position: relative;
  align-items: stretch;
  margin-left: 113px;
  justify-content: flex-end;
}
.home-button1 {
  color: var(--dl-color-blue-500);
  display: flex;
  align-self: stretch;
  text-align: right;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.home-text21 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-halfunit);
}
.home-icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-container14 {
  top: auto;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-color: rgba(0,0,0,.4);
}
@media(max-width: 991px) {
  .home-navbar-container {
    height: 83px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.82);
  }
  .home-navbar {
    height: 83px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-tripleunit);
    background-color: rgba(0, 0, 0, 0);
  }
  .home-navbar-interactive {
    width: 81px;
    height: 11px;
    padding-top: 0px;
  }
  .home-links-container {
    width: 484px;
  }
  .home-hero {
    height: 1061px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading {
    color: rgb(255, 255, 255);
    align-self: flex-start;
    text-align: left;
  }
  .home-container03 {
    height: 1012px;
  }
  .home-section {
    gap: var(--dl-space-space-threeunits);
    height: 960px;
    padding-top: 0px;
    padding-bottom: 100px;
  }
  .home-header {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-cards {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-section2 {
    gap: var(--dl-space-space-threeunits);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-header1 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-cards1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-banner {
    gap: 32px;
    flex-direction: column;
    justify-content: center;
  }
  .home-buttons {
    width: 100%;
    flex-direction: column;
  }
  .home-get-started {
    width: 100%;
  }
  .home-banner1 {
    gap: 32px;
    flex-direction: column;
    justify-content: center;
  }
  .home-buttons1 {
    width: 100%;
    flex-direction: column;
  }
  .home-get-started1 {
    width: 100%;
  }
  .home-container04 {
    height: 1012px;
  }
  .home-features {
    height: 819px;
  }
  .home-heading-container {
    margin-right: 45px;
  }
  .home-text09 {
    color: var(--dl-color-gray-black);
    font-size: 55px;
    text-align: center;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.22;
    margin-left: 48px;
    text-transform: none;
    text-decoration: none;
  }
  .home-about {
    height: 1078px;
    padding-bottom: 756px;
    background-color: #4e4e4e;
  }
  .home-max-content-width-container {
    height: 265px;
  }
  .home-card {
    width: 100%;
    background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
  }
  .home-card1 {
    width: 100%;
    background-image: url('https://media.tenor.com/Cj6lhIOKJ7MAAAAd/villager-minecraft.gif');
  }
}
@media(max-width: 767px) {
  .home-navbar-container {
    height: 85px;
  }
  .home-navbar {
    height: 100%;
    position: relative;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-image {
    left: 0px;
    right: 0px;
    width: 248px;
    bottom: 2px;
    height: 75px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .home-navbar-interactive {
    width: 52px;
    height: 46px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-mobile-menu {
    top: 0px;
    width: 265px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .home-top {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-logo {
    width: 188px;
    height: 62px;
    padding-right: 0px;
  }
  .home-icon {
    fill: #D9D9D9;
  }
  .home-links {
    width: 147px;
    height: 146px;
    align-self: flex-end;
  }
  .home-navlink {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-icon08 {
    fill: #D9D9D9;
    width: 47px;
    height: 42px;
    align-self: flex-end;
  }
  .home-links-container {
    display: none;
  }
  .home-container01 {
    background-image: url('https://th.bing.com/th/id/R.b1aa00d50578a92af38e3d7a282fe604?rik=w%2f0ZhFx7fd%2bNbw&pid=ImgRaw&r=0');
  }
  .home-hero-text-container {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .home-heading {
    color: rgb(255, 255, 255);
  }
  .home-container03 {
    width: 100%;
    height: 1081px;
    padding-top: 0px;
    background-color: #000000;
  }
  .home-section {
    height: 973px;
    padding-top: 0px;
  }
  .home-left {
    gap: var(--dl-space-space-unit);
    height: 104px;
  }
  .home-section1 {
    color: #ffffff;
  }
  .home-heading1 {
    color: #ffffff;
    width: 400px;
    height: 38px;
    font-size: 24px;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home-section2 {
    height: 768px;
    padding-top: 0px;
    border-color: #000000;
  }
  .home-left1 {
    gap: var(--dl-space-space-unit);
  }
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-get-started {
    width: 143px;
    position: relative;
    border-color: #2f2f2f;
    background-color: #2f2f2f;
  }
  .home-text07 {
    color: #ffffff;
    margin: auto;
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-description1 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-get-started1 {
    width: 151px;
    height: 42px;
    position: relative;
    align-self: flex-start;
    justify-content: center;
    background-color: #2f2f2f;
  }
  .home-text08 {
    color: #ffffff;
    align-self: center;
    text-align: center;
  }
  .home-container04 {
    width: 100%;
    height: 468px;
    position: relative;
  }
  .home-features {
    top: 0px;
    left: 0px;
    height: 498px;
    position: absolute;
  }
  .home-heading-container {
    width: 100%;
    margin-right: 29px;
  }
  .home-text09 {
    color: #ffffff;
    font-size: 55px;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.22;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
    text-transform: none;
    text-decoration: none;
  }
  .home-container05 {
    margin-top: 0px;
    flex-direction: column;
  }
  .home-about {
    height: 931px;
    position: relative;
    padding-bottom: 0px;
    background-color: #000000;
  }
  .home-max-content-width-container {
    top: 0px;
    left: 0px;
    height: 410px;
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-card {
    background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
  }
}
@media(max-width: 479px) {
  .home-navbar-container {
    height: 55px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .home-navbar {
    flex: 1;
    width: 320px;
    height: 58px;
    align-self: center;
    margin-left: 0px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: 300px;
    justify-content: center;
  }
  .home-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 112px;
    height: 35px;
    margin: auto;
    align-self: center;
  }
  .home-navbar-interactive {
    flex: 1;
    width: 81px;
    height: 42px;
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .home-mobile-menu {
    width: 285px;
    padding: 16px;
    align-self: flex-start;
    align-items: center;
  }
  .home-links {
    align-self: flex-end;
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-navlink {
    align-self: flex-start;
  }
  .home-link {
    align-self: flex-end;
  }
  .home-text {
    align-self: flex-start;
  }
  .home-navlink1 {
    align-self: flex-start;
  }
  .home-icon08 {
    fill: #ffffff;
    width: 38px;
    height: 24px;
    align-self: center;
  }
  .home-container01 {
    height: 465px;
  }
  .home-hero-text-container {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    justify-content: flex-start;
  }
  .home-heading {
    align-self: center;
    text-align: center;
    padding-left: 20px;
  }
  .home-container03 {
    height: 1106px;
  }
  .home-section {
    height: 990px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-heading1 {
    color: #ffffff;
    width: 274px;
    height: 67px;
  }
  .home-section2 {
    height: 981px;
    border-color: #000000;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .home-banner {
    height: 309px;
  }
  .home-buttons {
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
  }
  .home-get-started {
    align-self: flex-start;
  }
  .home-container04 {
    height: 764px;
  }
  .home-heading-container {
    width: 178px;
    margin-right: 27px;
  }
  .home-text10 {
    color: var(--dl-color-gray-white);
  }
  .home-text15 {
    color: var(--dl-color-gray-white);
  }
  .home-about {
    background-color: #313131;
  }
  .home-card {
    background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
  }
  .home-text17 {
    color: var(--dl-color-gray-white);
    font-weight: 400;
  }
}
