.secondary-button-container {
  display: flex;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.secondary-button-button {
  color: #000000;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit1);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit1);
  padding-right: var(--dl-space-space-unit1);
  padding-bottom: var(--dl-space-space-halfunit1);
  text-transform: uppercase;
  background-color: #00aa41;
  -webkit-tap-highlight-color: transparent;
}
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}



.primary-button-container {
  display: flex;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.primary-button-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit1);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit1);
  padding-right: var(--dl-space-space-unit1);
  padding-bottom: var(--dl-space-space-halfunit1);
  text-transform: uppercase;
  background-color: #4454ff;
  -webkit-tap-highlight-color: transparent;
}
.primary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.primary-button-button:active {
  background-color: var(--dl-color-danger-300);
}

.primary-button1-container {
  display: flex;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.primary-button1-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit1);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit1);
  padding-right: var(--dl-space-space-unit1);
  padding-bottom: var(--dl-space-space-halfunit1);
  text-transform: uppercase;
  background-color: #c644ff;
  -webkit-tap-highlight-color: transparent;
}
.primary-button1-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.primary-button1-button:active {
  background-color: var(--dl-color-danger-300);
}



.join-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #dbdbdb;
}
.join-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(63, 63, 63, 0.82);
}
.join-navbar {
  width: 100%;
  height: 89px;
  display: flex;
  opacity: 1;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 56px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  backdrop-filter: 10px;
  justify-content: space-between;
  background-color: rgba(99, 99, 99, 0);
}
.join-image {
  width: 200px;
  object-fit: cover;
}
.join-navbar-interactive {
  width: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.join-burger-menu {
  display: none;
}
.join-icon {
  width: 16px;
  height: 16px;
}
.join-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  backdrop-filter: blur(80px);
  justify-content: space-between;
  background-color: #fff;
}
.join-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.join-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.join-logo {
  height: 2rem;
}
.join-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-icon02 {
  width: 16px;
  height: 16px;
}
.join-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.join-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.join-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.join-text {
  margin-bottom: var(--dl-space-space-unit);
}
.join-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.join-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.join-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.join-icon08 {
  width: 16px;
  height: 16px;
}
.join-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.join-link {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.join-link1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.join-link2 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.join-link3 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.join-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.join-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.join-container01 {
  width: 100%;
  height: 808px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/picsart_23-08-08_08-31-24-031-900h.jpg");
}
.join-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.join-hero-text-container {
  width: 45%;
  display: flex;
  margin-top: 173px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  padding-left: 43px;
  flex-direction: column;
}
.join-heading {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.join-about {
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: rgba(94, 94, 94, 0.3);
}
.join-container02 {
  width: 90%;
  height: 304px;
  display: flex;
  z-index: 100;
  max-width: 1320px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(39, 39, 39, 0.71);
}
.join-container03 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit1);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit1);
  justify-content: space-around;
}
.join-image1 {
  width: 150px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 56px;
}
.join-container04 {
  width: 100%;
  height: 231px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.join-text05 {
  color: rgb(161, 182, 203);
}
.join-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.join-text06 {
  color: var(--dl-color-secondary-500);
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit1);
}
.join-container06 {
  width: 315px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  justify-content: center;
}
.join-link4 {
  display: contents;
}
.join-component {
  text-decoration: none;
}
.join-component1 {
  text-decoration: none;
}
.join-link5 {
  display: contents;
}
.join-component2 {
  text-decoration: none;
}
.join-container07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit1);
  flex-direction: row;
  justify-content: center;
}
.join-about1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 103px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: rgba(94, 94, 94, 0.3);
}
.join-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 211px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.join-text07 {
  align-self: flex-start;
  margin-bottom: 37px;
}
.join-card {
  width: 100%;
  height: 187px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
}
.join-container08 {
  display: flex;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
.join-text10 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.join-text11 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.join-container09 {
  display: flex;
  position: relative;
}
.join-navlink3 {
  color: var(--dl-color-blue-500);
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: transparent;
}
.join-text12 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-halfunit);
}
.join-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.join-navlink4 {
  display: contents;
}
.join-container10 {
  top: auto;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: blur(30px);
  text-decoration: none;
  background-color: rgba(0,0,0,.4);
}
.join-card1 {
  width: 100%;
  height: 187px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://media.tenor.com/Cj6lhIOKJ7MAAAAd/villager-minecraft.gif');
}
.join-container11 {
  display: flex;
  z-index: 2;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.join-text13 {
  color: var(--dl-color-gray-white);
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
}
.join-text14 {
  color: var(--dl-color-gray-white);
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.join-container12 {
  display: flex;
  position: relative;
  align-items: stretch;
  margin-left: 113px;
  justify-content: flex-end;
}
.join-button {
  color: var(--dl-color-blue-500);
  display: flex;
  align-self: stretch;
  text-align: right;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.join-text15 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-halfunit);
}
.join-icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.join-container13 {
  top: auto;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-color: rgba(0,0,0,.4);
}
.join-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.join-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.join-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.join-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.join-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.join-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.join-icon18 {
  width: 24px;
  height: 24px;
}
.join-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.join-icon20 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .join-navbar {
    background-color: rgba(0, 0, 0, 0);
  }
  .join-navbar-interactive {
    width: 81px;
    height: 11px;
    padding-top: 0px;
  }
  .join-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .join-hero-text-container {
    width: 80%;
    align-items: center;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .join-heading {
    color: #ffffff;
    align-self: flex-start;
    text-align: left;
  }
  .join-about {
    height: 381px;
    padding-bottom: 0px;
    background-color: #d0d0d0;
  }
  .join-container03 {
    flex-direction: column;
  }
  .join-about1 {
    height: 869px;
    padding-bottom: 639px;
    background-color: #d2d2d2;
  }
  .join-max-content-width-container {
    height: 265px;
    margin-top: 0px;
  }
  .join-card {
    width: 100%;
    background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
  }
  .join-card1 {
    width: 100%;
    background-image: url('https://media.tenor.com/Cj6lhIOKJ7MAAAAd/villager-minecraft.gif');
  }
}
@media(max-width: 767px) {
  .join-navbar {
    position: relative;
  }
  .join-navbar-interactive {
    width: 52px;
    height: 46px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .join-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .join-icon {
    fill: #D9D9D9;
    width: 47px;
    height: 42px;
  }
  .join-mobile-menu {
    top: 0px;
    width: 265px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .join-top {
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-logo {
    width: 188px;
    height: 62px;
    padding-right: 0px;
  }
  .join-icon02 {
    fill: #D9D9D9;
  }
  .join-links {
    width: 147px;
    height: 146px;
    align-self: flex-end;
  }
  .join-navlink {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-navlink1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-navlink2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-links-container {
    display: none;
  }
  .join-hero-text-container {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .join-heading {
    color: #ffffff;
  }
  .join-about {
    height: 413px;
    padding-bottom: 0px;
  }
  .join-about1 {
    margin-top: 0px;
    padding-top: 0px;
  }
  .join-text07 {
    text-align: center;
  }
  .join-text08 {
    text-align: center;
  }
  .join-card {
    background-image: url('https://media.tenor.com/-HtgekCqZt0AAAAC/minecraft-villager.gif');
  }
}
@media(max-width: 479px) {
  .join-navbar {
    height: 86px;
  }
  .join-image {
    width: 128px;
    height: 56px;
  }
  .join-navbar-interactive {
    width: 29px;
    padding: var(--dl-space-space-unit);
  }
  .join-mobile-menu {
    padding: 16px;
  }
  .join-links {
    padding-right: var(--dl-space-space-doubleunit);
  }
  .join-hero-text-container {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .join-heading {
    color: #ffffff;
  }
  .join-about {
    height: 297px;
    background-color: #ffffff;
  }
  .join-container02 {
    height: 387px;
  }
  .join-about1 {
    padding-top: 74px;
    background-color: #ffffff;
  }
  .join-card {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCXWvzp8zzIU6Z4NWuJlEBqjO904EjGqyRRw&usqp=CAU');
  }
  .join-text11 {
    color: var(--dl-color-gray-white);
    font-weight: 400;
  }
}
