.outline-black-button2-container {
  display: flex;
  position: relative;
}
.outline-black-button2-button {
  color: var(--dl-color-secondary-700);
  cursor: pointer;
  outline: none;
  min-width: 150px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-triplequarterunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.outline-black-button2-button:hover {
  transform: scale(1.02);
}

.join-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
}
.join-navbar-container {
  width: 100%;
  height: 85px;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.59);
}
.join-navbar {
  width: 100%;
  height: 89px;
  display: flex;
  opacity: 1;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 56px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  backdrop-filter: 10px;
  justify-content: space-between;
  background-color: rgba(99, 99, 99, 0);
}
.join-image {
  width: 200px;
  object-fit: cover;
}
.join-navbar-interactive {
  width: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.join-burger-menu {
  display: none;
}
.join-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  backdrop-filter: blur(80px);
  justify-content: space-between;
  background-color: #fff;
}
.join-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.join-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.join-logo {
  height: 2rem;
}
.join-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-icon {
  width: 16px;
  height: 16px;
}
.join-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.join-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.join-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.join-text {
  margin-bottom: var(--dl-space-space-unit);
}
.join-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.join-icon02 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.join-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.join-icon06 {
  width: 16px;
  height: 16px;
}
.join-icon08 {
  width: 16px;
  height: 16px;
}
.join-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.join-link1 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.join-link2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.join-link3 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.join-link4 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.join-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.join-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.join-section {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 558px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.join-header {
  width: 100%;
  height: 578px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.join-left {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.join-heading {
  color: rgb(255, 255, 255);
  text-align: center;
}
.join-right {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.join-container1 {
  width: 100%;
  height: 622px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.join-features {
  width: 100%;
  height: 525px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 53px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.join-heading-container {
  width: 45%;
  height: 127px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.join-text10 {
  color: var(--dl-color-gray-black);
  width: 324px;
  font-size: 55px;
  align-self: center;
  margin-top: 50px;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.join-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.join-container3 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/minecraft-villager-1500w.gif");
  background-position: center;
}
.join-container3:hover {
  transform: scale(1.04);
}
.join-container4 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.join-container5 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.join-text11 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.join-navlink2 {
  display: contents;
}
.join-component {
  text-decoration: none;
}
@media(max-width: 991px) {
  .join-navbar-container {
    background-color: rgba(0, 0, 0, 0.82);
  }
  .join-navbar {
    padding-bottom: var(--dl-space-space-tripleunit);
    background-color: rgba(0, 0, 0, 0);
  }
  .join-navbar-interactive {
    width: 81px;
    height: 11px;
    padding-top: 0px;
  }
  .join-section {
    gap: var(--dl-space-space-threeunits);
    height: 377px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .join-header {
    gap: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .join-container1 {
    height: 1012px;
  }
  .join-features {
    height: 819px;
  }
  .join-heading-container {
    margin-right: 45px;
  }
  .join-text10 {
    color: var(--dl-color-gray-black);
    font-size: 55px;
    text-align: center;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.22;
    margin-left: 48px;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .join-navbar-container {
    height: 85px;
  }
  .join-navbar {
    height: 100%;
    position: relative;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .join-image {
    left: 0px;
    right: 0px;
    width: 248px;
    bottom: 2px;
    height: 75px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .join-navbar-interactive {
    width: 52px;
    height: 46px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .join-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .join-mobile-menu {
    top: 0px;
    width: 265px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .join-top {
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-logo {
    width: 188px;
    height: 62px;
    padding-right: 0px;
  }
  .join-icon {
    fill: #D9D9D9;
  }
  .join-links {
    width: 147px;
    height: 146px;
    align-self: flex-end;
  }
  .join-navlink {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-navlink1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .join-icon08 {
    fill: #D9D9D9;
    width: 47px;
    height: 42px;
    align-self: flex-end;
  }
  .join-links-container {
    display: none;
  }
  .join-section {
    height: 840px;
    margin-bottom: 0px;
    background-color: #000000;
  }
  .join-header {
    align-self: center;
  }
  .join-left {
    gap: var(--dl-space-space-unit);
    align-self: center;
  }
  .join-heading {
    align-self: center;
    text-align: center;
  }
  .join-container1 {
    width: 100%;
    height: 467px;
    margin-bottom: 0px;
    background-color: #000000;
  }
  .join-features {
    height: 1135px;
  }
  .join-heading-container {
    width: 100%;
    margin-right: 29px;
  }
  .join-text10 {
    color: var(--dl-color-gray-black);
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .join-container2 {
    margin-top: 0px;
    flex-direction: column;
  }
  .join-container4 {
    width: 340px;
  }
  .join-text11 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .join-navbar-container {
    height: 55px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .join-navbar {
    flex: 1;
    width: 320px;
    height: 58px;
    align-self: center;
    margin-left: 0px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: 300px;
    justify-content: center;
  }
  .join-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 112px;
    height: 35px;
    margin: auto;
    align-self: center;
  }
  .join-navbar-interactive {
    flex: 1;
    width: 81px;
    height: 42px;
    padding: var(--dl-space-space-unit);
  }
  .join-mobile-menu {
    top: 52px;
    left: -82px;
    width: 285px;
    padding: 16px;
  }
  .join-links {
    padding-right: var(--dl-space-space-doubleunit);
  }
  .join-icon08 {
    fill: #ffffff;
    width: 38px;
    height: 24px;
    align-self: center;
  }
  .join-section {
    height: 412px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .join-heading {
    color: rgb(255, 255, 255);
    align-self: center;
  }
  .join-text01 {
    font-size: 22px;
  }
  .join-text02 {
    font-size: 22px;
  }
  .join-text03 {
    font-size: 22px;
  }
  .join-text04 {
    font-size: 22px;
  }
  .join-text05 {
    font-size: 22px;
  }
  .join-text06 {
    font-size: 22px;
  }
  .join-text07 {
    font-size: 22px;
  }
  .join-text08 {
    font-size: 22px;
  }
  .join-container1 {
    height: 764px;
  }
  .join-heading-container {
    width: 178px;
    margin-right: 27px;
  }
  .join-text11 {
    color: var(--dl-color-gray-white);
  }
}
